@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    box-sizing: border-box;
}

#app {
    display: flex;
    flex-direction: column;
    min-height: 100%; /* prend toute la hauteur disponible */
    background-color: #f8fafc;
}

main {
    flex: 1; /* prend tout l'espace restant */
}
